nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  position: fixed;
  left: 0.6%;
  bottom: 20rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border-radius: 3rem;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

  nav a:hover {
    background: rgba(240, 150, 225, 0.35);
  /* } 

nav a.active {
  background: rgba(219, 202, 202, 0.3);
  color: var(--color-white);
  /* border: 1px solid var(--color-light); */
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ==================== */

@media screen and (max-width: 600px) {
  nav {
    gap: 0.1rem;
    padding: 0.6rem 1rem;
  }

  nav a {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}
